.scene{
    width: 90px;
    height: 100px;
}

.box{
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;        
    transition: all 0.5s ease-out;

    transform-origin: 0 0;
}

.scene:hover .box {
    transform: rotateY(-90deg);

}

.face{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}

.front{
    transform: rotateY(0deg);
    background-color: #393e46;
}

.right{
    transform: rotateY(90deg);
    left: 80px;
    background-color: #fcda05;
    color: #393e46;
    font-size: 0.8;
}